*{
    margin:0;
    font-family:Arial;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box1 */
.nav-logo{
    height:50px;
    width:100px;
}

.logo{
    background-image: url("img/amazon_logo.png");
    background-size: cover;
    height:100px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
    cursor:pointer
}
/* box2 */
.nav-address{
    height:50px;
    color:white;
    margin:5px 2px 5px 0;
    padding:0px 9px;
}
.add-icon{
    display: flex;
    color:white;
    align-items: center;
}

#add_1{
    color:#CCCCCC;
    font-size: 0.6rem;
    margin-left: 20px;
    margin-top: 12px;
}
#add_2{
    font-size: .8rem;
    color:#FFFFFF;
    padding: 0px 0px 1px;
    font-weight: 700;
}

/* box3 */

.nav-search{
    display:flex;
    justify-content: space-evenly;

    width: 750px;
    height: 40px;
    background-color: #febd68;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border:2px solid orange;
}
/* box4 */
.nav-countrylogo{
    height:55px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:7px;
    color:white;
    font-weight: 700;
}
/* box5 */
.nav-signin{
    color:white;
    width:110;
    height:50;
    padding:10px;
}
.nav-first{
    font-size: .7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.cart i{
    color: white;
    font-size: 30px;

}
.cart{
    font-size: 0.85rem;
    color:white;
    font-weight: 700;
    padding:5px;
}

/* panel */

.panel{
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel-all{
    margin:5px 0 6px;
    padding:11px 5px;
}
.panel-options p{
    display:inline;
    color:white;
    margin:5px 0 6px;
    padding:11px 5px;
}
.panel-options{
    width:70%;
    font-size: 0.85rem;
    
}
.GIF-img{
    height: 37px;
    width: 400px;
    background-image: url(img/img6.jpg);
    border: none;
    
}

/* Hero section */

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
  
}
.slider img{
    display: none;
     width: 100%;
    height: 550px;
}

.btn{
    position: absolute;
    display: inline-block;
    top:30%;
    font-size: 4rem;
    color:white;
    cursor: pointer;
}
.prev{
    left:2rem;
    
}


.next{
    right:2rem;
}
img.displaySlide{
    display: block;
}

/* Shop section */
/** row1 **/

.shop-section-row1{
    position: absolute;
    top:46%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e3e6e6;
    width: 100%;
}


 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:450px;
    width: 23%;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px 0px 15px;
    margin-top: 15px;
}

.box-content h2 {
    padding-bottom: 20px;
    padding-right: 40px;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem;
  color: #111;
}

.multi-boxImg {
  display: grid;                 
  grid-template-columns: repeat(2, 1fr); 
  gap: 8px;     
  padding-left: 5px;     
  padding-right:5px ;           
  margin-bottom: 12px;
}

.multi-boxImg img {
  width: 100%;                 
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.box-content p {
  color: #007185;               
  font-size: 14px;
  cursor: pointer;
  margin: 0;
}

.box-content p:hover {
  text-decoration: underline;
}

/* single img box */

.box-img{
    height:300px;
    background-size: contain;
    margin: .25rem;
    background-repeat: no-repeat;
}

.shop-section-row2{
    display: flex;
    margin-top:10.7rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e3e6e6;
    width: 100%;
}


.shop-section{
    display: flex;
    margin: 0.05rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e3e6e6;
    width: 100%;
    margin-bottom: 15px;
}

/* footer */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul p:hover{
    text-decoration: underline;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid #37475a;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("img/amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}

/* Img slide section */
.imgSlider{
    background-color: white;
    width: 100%;
    height: 250px;
    overflow-x: auto;
    overflow-y:hidden;
    margin: 2rem;
    display: flex;
    gap:1rem;
    scroll-behavior:smooth;
    animation: ease;
   

}
.slideImgs{
    margin: 3em auto;
    display: flex;
    overflow-y: hidden;
    height: 250px;
    gap: 1em;
}
.slideImgs img{
    height: 250px;
    width: 230px;
    background-color: #7c8585;
    border-radius: 1rem;
}
.slideimg::scroll-button(right), .slideimg::scroll-button(left) {
    content:'>';
    border: none;
    background-color: white;
    color: black;
    font-size: 3rem;
    height: 60px;
    width: 60px;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    cursor: pointer;
    position:fixed;
    position-anchor: --slideimg;
    position-area: right center;
}
.slideimg::scroll-button(left) {
    content:'<';
    position-area: left center;
}


.card{
    height: 300px;
    flex: 0 0 6em;
    border-radius: .5em;
    text-align: center;
    align-content: center;
    margin-bottom: 20px;
}
.slideimg{
    width:100%;
    background-color: white;
    height: 400px;
    overflow-x:hidden;
    margin: 1.8rem;
    anchor-name: --slideimg;
}
.title{
    margin-top: 20px;
    
}
